.col-download {
    width: 200px;
}

.col-download .action-download {
    font-family: 'Admin Icons';
    text-decoration: none;
}

.col-download .action-download:before {
    content: '\e636';
    font-size: 2.5rem;
}