<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="redjepakketje" translate="label" sortOrder="550">
            <label>Red je Pakketje</label>
        </tab>

        <section id="redjepakketje_api_configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>API Configuration</label>
            <tab>redjepakketje</tab>
            <resource>RedJePakketje_Shipping::api_config</resource>

            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="module_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When this is disabled, the module's functionality can not be used.</comment>
                </field>

                <field id="sandbox_enabled" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When this is disabled, the live environment will be used.</comment>
                </field>
            </group>

            <group id="api_keys" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Keys</label>

                <field id="test_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test API Key</label>
                </field>

                <field id="live_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Live API Key</label>
                </field>
            </group>

            <group id="api_urls" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Urls</label>

                <field id="test_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Test URL</label>
                </field>

                <field id="live_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Live URL</label>
                </field>
            </group>
        </section>

        <section id="redjepakketje_label_configuration"  translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Label Configuration</label>
            <tab>redjepakketje</tab>
            <resource>RedJePakketje_Shipping::label_config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="label_type" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label Type</label>
                    <source_model>RedJePakketje\Shipping\Model\Config\Source\LabelType</source_model>
                    <comment>The type of the label (e.g: PDF, PNG or ZPL) when generated.</comment>
                </field>

                <field id="label_size" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label Size</label>
                    <source_model>RedJePakketje\Shipping\Model\Config\Source\LabelSize</source_model>
                    <comment>The size of the label (e.g: A6 or A7) when generated.</comment>
                </field>

                <field id="auto_generate" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Generate Label</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Will automatically confirm the shipment with Red je Pakketje and generate a label when a shipment is created</comment>
                </field>
            </group>
        </section>

        <section id="redjepakketje_tracking_configuration"  translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Tracking Configuration</label>
            <tab>redjepakketje</tab>
            <resource>RedJePakketje_Shipping::tracking_config</resource>

            <group id="email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="identity" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>

                <field id="tracking_template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Template</label>
                    <comment>Email template used for sending tracking information.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>

                <field id="auto_send" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Send Tracking Mail</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Will automatically send the tracking mail when a shipment is created</comment>
                </field>
            </group>
        </section>

        <section id="carriers">
            <group id="redjepakketjeStandard" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Red je Pakketje</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="showmethod" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                    <comment>This is shown if the method is not applicable</comment>
                </field>
                
                <field id="free_shipping_from_price" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free shipping price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="title_before_cutoff" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title (before cut-off)</label>
                </field>

                <field id="title_after_cutoff" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title (after cut-off)</label>
                </field>

                <field id="title_weekend" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title (during weekend)</label>
                </field>

                <field id="title_holiday" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title (during holiday)</label>
                </field>

                <field id="description_before_cutoff" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description (before cut-off)</label>
                    <comment>Can use %cutoff in the description to show the label for the configured cut-off time. (also works for other fields)</comment>
                </field>

                <field id="description_after_cutoff" translate="label" type="textarea" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description (after cut-off)</label>
                    <comment>Can use %cutoff in the description to show the label for the configured cut-off time.  (also works for other fields)</comment>
                </field>

                <field id="description_weekend" translate="label" type="textarea" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description (during weekend)</label>
                    <comment>Can use %weekend_days in the description to show the days of the week which are considered as weekend days. (also works for other fields)</comment>
                </field>

                <field id="description_holiday" translate="label" type="textarea" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description (during holiday)</label>
                    <comment>Can use %holiday in the description to show the label for the current holiday.</comment>
                </field>

                <field id="price_before_cutoff" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price (before cut-off)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="price_after_cutoff" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price (after cut-off)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="cutoff_time" translate="label" type="time" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cut-off Time Same Day Delivery</label>
                    <comment>Time after which the shipping estimation will adjusted by an additional working day.</comment>
                </field>

                <field id="weekend_days" translate="label" type="multiselect" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Weekend Days</label>
                    <source_model>RedJePakketje\Shipping\Model\Config\Source\Weekdays</source_model>
                    <comment>Can modify which days are considered as weekend (affects title and description).</comment>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="holidays" translate="label" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Holidays</label>
                    <frontend_model>RedJePakketje\Shipping\Block\Adminhtml\System\Config\Form\Field\Holidays</frontend_model>
                    <backend_model>RedJePakketje\Shipping\Model\Config\Source\Holidays</backend_model>
                    <comment>Can modify which days are considered as a holiday (affects title and description, year is ignored).</comment>
                </field>

                <field id="pickup_days" translate="label" type="multiselect" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pickup Days</label>
                    <source_model>RedJePakketje\Shipping\Model\Config\Source\Weekdays</source_model>
                    <comment>This shipping method is hidden on non-pickup days.</comment>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="sallowspecific" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="excluded_postcodes" translate="label" type="textarea" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Excluded Postcodes</label>
                    <comment>Comma separated postcodes, eg: 1122AA,2233BB,3344CC</comment>
                </field>

                <field id="hide_for_backorders" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide method for backorders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
