<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="redjepakketje" translate="label" sortOrder="550">
            <label>Red je Pakketje</label>
        </tab>

        <section id="redjepakketje_api_configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>API Configuration</label>
            <tab>redjepakketje</tab>
            <resource>Cream_RedJePakketje::api_config</resource>

            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="module_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When this is disabled, the module's functionality can not be used.</comment>
                </field>

                <field id="sandbox_enabled" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>When this is disabled, the live environment will be used.</comment>
                </field>
            </group>

            <group id="api_keys" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Keys</label>

                <field id="test_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test API Key</label>
                </field>

                <field id="live_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Live API Key</label>
                </field>
            </group>

            <group id="api_urls" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Urls</label>

                <field id="test_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Test URL</label>
                </field>

                <field id="live_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Live URL</label>
                </field>
            </group>
        </section>

        <section id="redjepakketje_label_configuration"  translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Label Configuration</label>
            <tab>redjepakketje</tab>
            <resource>Cream_RedJePakketje::label_config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="label_type" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label Type</label>
                    <source_model>Cream\RedJePakketje\Model\Config\Source\LabelType</source_model>
                    <comment>The type of the label (e.g: PDF, PNG or ZPL) when generated.</comment>
                </field>

                <field id="label_size" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label Size</label>
                    <source_model>Cream\RedJePakketje\Model\Config\Source\LabelSize</source_model>
                    <comment>The size of the label (e.g: A6 or A7) when generated.</comment>
                </field>
            </group>
        </section>

        <section id="redjepakketje_shipping_methods"  translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Shipping Methods</label>
            <tab>redjepakketje</tab>
            <resource>Cream_RedJePakketje::shipping_methods</resource>

            <group id="standard" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Standard Shipping Method</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="showmethod" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Displayed Error Message</label>
                    <comment>This is shown if the method is not applicable</comment>
                </field>

                <field id="title_before_cutoff" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title (before cut-off)</label>
                </field>

                <field id="title_after_cutoff" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title (after cut-off)</label>
                </field>

                <field id="title_weekend" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title (during weekend)</label>
                </field>

                <field id="title_holiday" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title (during holiday)</label>
                </field>

                <field id="description_before_cutoff" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description (before cut-off)</label>
                </field>

                <field id="description_after_cutoff" translate="label" type="textarea" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description (after cut-off)</label>
                </field>

                <field id="description_weekend" translate="label" type="textarea" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description (during weekend)</label>
                </field>

                <field id="description_holiday" translate="label" type="textarea" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description (during holiday)</label>
                </field>

                <field id="price_before_cutoff" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price (before cut-off)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="price_after_cutoff" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price (after cut-off)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
        </section>
    </system>
</config>